* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #000915;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.header {
  height: 1024px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(<path-to-image>), lightgray 50%/cover no-repeat;
  background-image: url(img/header_background.jpg);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
}
.header__box {
  padding-top: 217px;
}
.header__uptext {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  max-width: 789px;
}
.header__midtext {
  max-width: 481px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 44px;
}
.header__midtext-bold {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.header__button {
  border-radius: 30px;
  background: #9C0332;
  text-decoration: none;
  padding-bottom: 493px;
  cursor: url("img/clarity_cursor-hand-line.svg"), auto;
}
.header__button-text {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 74px;
  padding-right: 74px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__button:hover {
  background: #EB443F;
}

.sectionup__content {
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  margin-top: 128px;
  margin-bottom: 128px;
  row-gap: 32px;
  justify-content: center;
}
.sectionup__img {
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(<path-to-image>), lightgray 50%;
  background-repeat: no-repeat;
}
.sectionup__img-left {
  background-image: url(img/photo_left.jpg);
  border-radius: 16px;
  width: 379px;
  height: 300px;
  text-decoration: none;
  transition: 100ms;
}
.sectionup__img-left:hover {
  border: 3px solid #44D2FF;
  transform: scale(1.01);
}
.sectionup__img-center {
  background-image: url(img/photo_center.jpg);
  border-radius: 16px;
  width: 379px;
  height: 300px;
  text-decoration: none;
  transition: 100ms;
}
.sectionup__img-center:hover {
  border: 3px solid #44D2FF;
  transform: scale(1.01);
}
.sectionup__img-right {
  background-image: url(img/photo_right.jpg);
  border-radius: 16px;
  width: 379px;
  height: 300px;
  text-decoration: none;
  transition: 100ms;
}
.sectionup__img-right:hover {
  border: 3px solid #44D2FF;
  transform: scale(1.01);
}
.sectionup__img-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32pX;
  color: #fff;
  padding-left: 32px;
  padding-bottom: 32px;
  padding-top: 236px;
}

.sectioncenter__uptext {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  max-width: 789px;
}
.sectioncenter__midtext {
  max-width: 481px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 44px;
}
.sectioncenter__midtext-bold {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.sectioncenter__button {
  border-radius: 30px;
  border: none;
  background: #9C0332;
  text-decoration: none;
  cursor: url("img/clarity_cursor-hand-line.svg"), auto;
}
.sectioncenter__button:hover {
  background: #EB443F;
}
.sectioncenter__button-text {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 74px;
  padding-right: 74px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sectiondown__box {
  background-image: url(img/sectiondown_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;
}

.sectiontdown__gradient {
  background-color: linear-gradient(180deg, #000915 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -7.35%, #000915 100%), url(<path-to-image>), lightgray 50%/cover no-repeat, #000915;
}

.sectiontdown {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 32px;
  padding-bottom: 288px;
  padding-top: 276px;
}
.sectiontdown__uptext {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  text-align: center;
}
.sectiontdown__midtext {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: #fff;
  margin-top: 32px;
  margin-bottom: 44px;
}
.sectiontdown__midtext-bold {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.sectiontdown__button {
  border-radius: 30px;
  background: #9C0332;
  text-decoration: none;
  padding-bottom: 493px;
  cursor: url("img/clarity_cursor-hand-line.svg"), auto;
}
.sectiontdown__button-text {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 74px;
  padding-right: 74px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sectiontdown__button:hover {
  background: #EB443F;
}

.content__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 233px;
}

.downcontent__box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-around;
  padding-top: 239px;
  padding-bottom: 239px;
}

.footer__upline {
  border-top: rgba(184, 212, 255, 0.2);
  background-image: url(img/Line_footer.jpg);
  opacity: 20%;
  height: 1px;
}
.footer__text {
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
  opacity: 100%;
}

@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .sectionup__content {
    display: flex;
    row-gap: 32px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  /*     .top {
          padding-left: 60px;
          padding-right: 60px;
      } */
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header__uptext {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .header__midtext {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    /* 157.143% */
  }
  .header__midtext-bold {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
  }
  .header__button-mob {
    display: flex;
    justify-content: center;
  }
  .sectionup {
    display: flex;
  }
  .sectionup__content {
    display: flex;
    justify-content: center;
  }
  .sectionup__img-left {
    width: 343px;
  }
  .sectionup__img-center {
    width: 343px;
  }
  .sectionup__img-right {
    width: 343px;
  }
  .sectioncenter {
    padding-bottom: 64px;
  }
  .sectioncenter__right {
    width: 344px;
  }
  .sectioncenter__leftimg {
    width: 344px;
  }
  .sectioncenter__uptext {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .sectioncenter__midtext {
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    /* 157.143% */
  }
  .sectioncenter__midtext-bold {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-align: center;
  }
  .sectioncenter__button {
    display: flex;
    justify-content: center;
    /* margin-left: 70px;
    margin-right: 70px; */
  }
  .content__box {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
  }
  .downcontent__box {
    display: flex;
    justify-content: center;
    padding-top: 85px;
    flex-direction: column-reverse;
  }
}/*# sourceMappingURL=style.css.map */